@model CandyShop.Application.ViewModels.Pagamento

@{
    Layout = null;
}

<div class="corpo">
    <form class="col s12" style="margin-left: -10%">
        <h4 align="center"><font color="brown">Detalhes do </font><font color="red">Pagamento:</font></h4>
        <br />
        <dl class="dl-horizontal left-align">
            <dt>
                ID Pagamento:
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.IdPagamento)*@ 2
            </dd>
            <br />
            <dt>
                Data do Pagamento:
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.DataPagamento)*@ 21/02/2009
            </dd>
            <br />
            <dt>
                Valor do Pagamento:
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.ValorPagamento)*@ R$ 35,00
            </dd>

        </dl>
        <br />
        <a class="waves-effect waves-light btn" onclick="AjaxJs.pagamento()"><i class="material-icons left">arrow_back</i>Voltar</a>
    </form>
</div>


<style>
    .corpo {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        text-align: left;         
    }

</style>