@model IEnumerable<CandyShop.Application.ViewModels.Pagamento>

@{ Layout = null; }

<script>
    $(document).ready(function () {
        $('select').material_select();
        $(".penis").last().removeClass('select-dropdown');
    });

</script>


<h2 align="center"><font color="red">Pagamentos</font></h2>

<div id="filtro">
    <div id="icone"><i class="small material-icons">date_range</i></div>
    <div id="dropdown" class="input-field">
        <select id="FiltroMes">
            <option class="black-text" value="" selected disabled>Escolha um mês para filtrar</option>
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>
    </div>
</div>

<div id="tabela">
    <table class="striped centered">
        <thead>
            <tr>
                <th>Data do Pagamento</th>
                <th>Valor Pago</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPagamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorPagamento)
                    </td>
                    <td>
                        <a class="btn-floating waves-effect waves-light brown" onclick="AjaxJs.detalhePagamento('@item.IdPagamento');"><i class="material-icons">info_outline</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div align="center">
    <a class="waves-effect waves-light btn" onclick="AjaxJs.voltarInicio()"><i class="material-icons left">arrow_back</i>Voltar</a>
</div>

<style>
    #tabela {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    #filtro {
        text-align: center;
    }

    #icone {
        display: inline-block;
        color: brown;
    }

    #dropdown {
        position: static;
        display: inline-block;
        font-size: small;
        width: 200pt;
    }
</style>

