@model IEnumerable<CandyShop.Application.ViewModels.PagamentoViewModel>

@{ Layout = null; }

<link rel="stylesheet" type="text/css" href="../../Content/Pagamento/indexPagamento.css"/>

<h4 align="center"><font color="brown">Pagamentos</font></h4>
<script>
    $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: false, // Does not change width of dropdown to that of the activator
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left', // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
        }
    );
</script>

@if (ViewBag.drop == 0)
{
    <div id="filtro" class="row">
        <div id="icone"><i class="small material-icons">date_range</i></div>
        <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Escolha o mês!</a>    
        <ul id='dropdown2' class='dropdown-content'>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(1)">Janeiro</a></li>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(2)">Fevereiro</a></li>        
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(3)">Março</a></li>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(4)">Abril</a></li>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(5)">Maio</a></li>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(6)">Junho</a></li>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(7)">Julho</a></li>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(8)">Agosto</a></li>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(9)">Setembro</a></li>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(10)">Outubro</a></li>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(11)">Novembro</a></li>
            <li><a href="#!" onclick="AjaxJs.listarPagamentoMes(12)">Dezembro</a></li>
        </ul>  
  
    </div>
        
}

<div id="tabela">
    <table class="striped centered">
        <thead>
        <tr>
            <th>Usuário</th>
            <th>Data do Pagamento</th>
            <th>Valor Pago</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPagamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorPagamento)
                    </td>
                    <td>
                        <a class="btn-floating waves-effect waves-light brown" onclick="AjaxJs.detalhePagamento('@item.IdPagamento');"><i class="material-icons">info_outline</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
@*<div align="center">
    <a class="waves-effect waves-light btn" onclick="A.listarPagamentos()"><i class="material-icons left">arrow_back</i>Voltar</a>
</div>*@
