@model IEnumerable<CandyShop.Application.ViewModels.PagamentoViewModel>

@{ Layout = null; }

<link rel="stylesheet" type="text/css" href="../../Content/Pagamento/indexPagamento.css"/>

<h4 align="center"><font color="brown">@ViewBag.tituloPagina</font></h4>
<script>
    $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: false, 
            gutter: 0,
            belowOrigin: false, 
            alignment: 'left',
            stopPropagation: false
        }
    );
</script>

@if (ViewBag.drop == 0)
{
    <div id="filtro" class="row">
        <div id="icone"><i class="small material-icons">date_range</i></div>
        <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Escolha o mês!</a>    
        <ul id='dropdown2' class='dropdown-content'>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(1)">Janeiro</a></li>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(2)">Fevereiro</a></li>        
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(3)">Março</a></li>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(4)">Abril</a></li>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(5)">Maio</a></li>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(6)">Junho</a></li>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(7)">Julho</a></li>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(8)">Agosto</a></li>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(9)">Setembro</a></li>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(10)">Outubro</a></li>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(11)">Novembro</a></li>
            <li><a href="#!" onclick="AjaxJsPagamento.listarPagamentoMes(12)">Dezembro</a></li>
        </ul>  
  
    </div>
        
}
<style>
    #icone {
        display: inline-block;
        color: brown;
    }
</style>
<div id="tabela">
    <table class="striped centered">
        <thead>
        <tr>
            <th>Usuário</th>
            <th>Data do Pagamento</th>
            <th>Valor Pago</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPagamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorPagamento)
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
@*<div align="center">
    <a class="waves-effect waves-light btn" onclick="A.listarPagamentos()"><i class="material-icons left">arrow_back</i>Voltar</a>
</div>*@
