@{
    Layout = null;
}

<!--plugin para campos monetários-->
<script type="text/javascript" src="~/Js/plugins/jquery.maskMoney.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/Pagamento/indexPagamento.css?d=@DateTime.Now.Ticks" />

<div class="container ">
    <h2 class="center pink-text" style="font-weight: bold">Efetuar Pagamento</h2>
    <div class="row center">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s6 push-l3 ajustes">
                    <input id="valorPago" maxlength="9" name="valorPago" type="text" class="validate" required onkeydown="return FilterInput(event)" onpaste="handlePaste(event)">
                    <label for="valorPago">Valor:</label>
                </div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn-large" onclick="AjaxJsShop.voltarInicio()"><i class="material-icons left">arrow_back</i>Voltar</a>
                <a id="confirmarPagamento" disabled class="waves-effect waves-light btn-large"><i class="material-icons left">add_circle</i>Confirmar</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#confirmarPagamento").click(AjaxJsPagamento.concluirPagamento);

        $("#valorPago").maskMoney({
            prefix: "R$ ",
            allowNegative: false,
            thousands: ".",
            decimal: ",",
            affixesStay: true
        }).maskMoney("mask")
            .keyup(validaBotao).blur(validaBotao).focus(validaBotao).on("paste", validaBotao)
            .keydown(function (e) {
                validaBotao();
                if (e.which === 13)
                    AjaxJsPagamento.concluirPagamento();
            });
    });

    function FilterInput(event) {
        var keyCode = ("which" in event) ? event.which : event.keyCode;
        var isNotWanted = (keyCode === 69 || keyCode === 189 || keyCode === 109);
        return !isNotWanted;
    }

    function handlePaste(e) {
        var clipboardData = e.clipboardData || window.clipboardData;
        var pastedData = clipboardData.getData("Text").toUpperCase();

        if (pastedData.indexOf("E") > -1) {
            e.stopPropagation();
            e.preventDefault();
        }

        if (pastedData.indexOf("-") > -1) {
            e.stopPropagation();
            e.preventDefault();
        }

        if (pastedData.indexOf("-") > -1) {
            e.stopPropagation();
            e.preventDefault();
        }
    }

    function validaBotao() {
        var valor = $("#valorPago").val().length;
        var pagamento = $("#valorPago").val();;
        pagamento = pagamento.replace("R$", "").replace(",", ".");
        if (valor > 9 || pagamento == "" || parseFloat(pagamento) > 999.99 || parseFloat(pagamento) <= 0)
            $("#confirmarPagamento").attr("disabled", "disabled");
        else
            $("#confirmarPagamento").removeAttr("disabled");
    }
</script>