@{
    Layout = null;
}

<!--plugin para campos monetários-->
<script type="text/javascript" src="~/Js/plugins/jquery.maskMoney.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/Pagamento/indexPagamento.css?d=@DateTime.Now.Ticks" />

<div class="container ">
    <h2 class="center pink-text" style="font-weight: bold">Efetuar Pagamento</h2>
    <div class="row center">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6 push-l3">
                    <input id="valorPago" name="valorPago" type="text" class="validate" required="">
                    <label for="valorPago">Valor:</label>
                </div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn-large" onclick="AjaxJsPagamento.listarPagamento()"><i class="material-icons left">arrow_back</i>Voltar</a>
                <a class="waves-effect waves-light btn-large" onclick="AjaxJsPagamento.concluirPagamento()"><i class="material-icons left">add_circle</i>Confirmar</a>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#valorPago').maskMoney({
            prefix: 'R$ ',
            allowNegative: true,
            thousands: '.',
            decimal: ',',
            affixesStay: false
        });
    });
</script>