@{
    Layout = null;
}

<!--plugin para campos monetários-->
<script type="text/javascript" src="~/Js/plugins/jquery.maskMoney.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/Pagamento/indexPagamento.css?d=@DateTime.Now.Ticks" />

<div class="container ">
    <h2 class="center pink-text" style="font-weight: bold">Efetuar Pagamento</h2>
    <div class="row center">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6 push-l3">
                    <input id="valorPago" name="valorPago" type="text" class="validate" required onkeydown="return FilterInput(event)" onpaste="handlePaste(event)">
                    <label for="valorPago">Valor:</label>
                </div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn-large" onclick="AjaxJsShop.voltarInicio()"><i class="material-icons left">arrow_back</i>Voltar</a>
                <a class="waves-effect waves-light btn-large" onclick="AjaxJsPagamento.concluirPagamento()"><i class="material-icons left">add_circle</i>Confirmar</a>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#valorPago").maskMoney({
            prefix: "R$ ",
            allowNegative: true,
            thousands: ".",
            decimal: ",",
            affixesStay: false
        });
    });

    function FilterInput(event) {
        var keyCode = ("which" in event) ? event.which : event.keyCode;
        isNotWanted = (keyCode === 69 || keyCode === 189 || keyCode === 109);
        return !isNotWanted;
    }

    function handlePaste(e) {
        var clipboardData, pastedData;

        clipboardData = e.clipboardData || window.clipboardData;
        pastedData = clipboardData.getData("Text").toUpperCase();

        if (pastedData.indexOf("E") > -1) {
            e.stopPropagation();
            e.preventDefault();
        }

        if (pastedData.indexOf("-") > -1) {
            e.stopPropagation();
            e.preventDefault();
        }
    }

    $("#valorPago").keyup(function () {
        var valor = $("#valorPago").val().length;
        if (parseInt(valor) > 8 || $("#valorPago").val() == "R$ 0,00")
            $("#confirmarPagamento").attr("disabled", "disabled");
        else
            $("#confirmarPagamento").removeAttr("disabled");
    });

    $("#valorPago").blur(function () {
        var valor = $("#valorPago").val().length;
        if (parseInt(valor) > 8 || $("#valorPago").val() == "R$ 0,00") 
            $("#confirmarPagamento").attr("disabled", "disabled");
        else  
            $("#confirmarPagamento").removeAttr("disabled");
    });

    $("#valorPago").on("paste", function () {
        var valor = $("#valorPago").val().length;
        if (parseInt(valor) > 8 || $("#valorPago").val() == "R$ 0,00")
            $("#confirmarPagamento").attr("disabled", "disabled");
        else
            $("#confirmarPagamento").removeAttr("disabled");
    });
</script>