@model  CandyShop.Application.ViewModels.UsuarioViewModel

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="../../Content/Usuario/formCadastroUsuario.css" />
<script type="text/javascript" src="../../Js/scriptsCadastroUsuario.js?d=1"></script>

<div class="container">
    <div class="row">
        <form class="col s12" id="formCadastro">
            <div class="row">
                <div class="center">
                    <h1 class="center">Cadastrar usuário</h1>
                    <div>
                        <label for="fotoUsuario">
                            <img id="imagem" class="center tooltipped" data-position="bottom" data-delay="50" data-tooltip="Foto do usuário" src="../../Imagens/fotoUsuario.ico" alt="imagem não disponível :(" />
                        </label>
                        <input id="fotoUsuario" name="File" type="file" class="file-path validate" style="display: none" accept="image/*">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="Nome" name="NomeUsuario" type="text" class="validate" required data-length="50" autocomplete="off">
                        <label for="Nome">Nome do usuário:</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="cpf" name="CPF" type="text" class="validate" required="">
                        <label for="cpf">CPF do usuário:</label>
                    </div>
                </div>
                <div class="row center">
                    <a class="waves-effect waves-light btn-large botaoVoltar"><i class="material-icons left">arrow_back</i>Voltar</a>

                    <a class="waves-effect waves-light btn-large botaoCadastro"><i class="material-icons left">add_circle</i>Cadastrar</a>

                </div>
            </div>
        </form>
    </div>
</div>


