
@{
    Layout = null;
}

<link rel="stylesheet" href="../../Content/formCadastroUsuario.css" />

<div class="container">
    <div class="row" style="margin-left: -20%">
        <form class="col s12">
            <div class="row">
                <div class="center">
                    <h1 class="center">Cadastrar <font color="brown">usuário</font></h1>
                    <img class="center" src="../../Imagens/user.png" />
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input placeholder="foto do usuário" class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="Nome" name="Nome" type="text" class="validate" required="">
                    <label for="Nome">Nome do usuário:</label>
                </div>
                <div class="input-field col s6">
                    <input id="cpf" name="CPF" type="text" class="validate" required="">
                    <label for="cpf">CPF do usuário:</label>
                </div>
            </div>
            <div class="row">
              
            </div>
        </form>
    </div>
</div>