
@{
    Layout = null;
}

<link rel="stylesheet" href="../../Content/formCadastroUsuario.css" />
<script type="text/javascript" src="../../Js/Usuario/scriptsCadastroUsuario.js"></script>

<div class="container">
    <div class="row">
        <form class="col s12" style="margin-left: -10%">
            <div class="row">
                <div class="center">
                    <h1 class="center">Cadastrar <font color="brown">usuário</font></h1>
                    <img id="imagem" class="center" src="../../Imagens/user.png" />
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input id="fotoUsuario" type="file" accept="image/x-png,image/gif,image/jpeg">
                    </div>
                    <div class="file-path-wrapper">
                        <div class="file-path-wrapper">
                            <input placeholder="foto do usuário" class="file-path validate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="Nome" name="Nome" type="text" class="validate" required data-length="50" autocomplete="off">
                        <label for="Nome">Nome do usuário:</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="cpf" name="CPF" type="text" class="validate" required="">
                        <label for="cpf">CPF do usuário:</label>
                    </div>
                </div>
                <div class="row center">
                    <a class="btn waves waves-effect waves-light" disabled>Enviar</a>
                </div>
            </div>
        </form>
    </div>
</div>
