@model CandyShop.Application.ViewModels.Usuario

@{
    Layout = null;
}

<style>
    .corpo, h4, hr {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        text-align: left;
    }

    .corpo {
        margin-left: -14%;
    }

    dd {
        margin-left: 28%;
        margin-top: -5%;
    }

    dt {
        color: brown;
    }
</style>

<div class="corpo left">
    <h4><font color="vinho">Detalhes do usuário :</font></h4>
    <hr />
    <div class="col s12">
        <dl class="dl-horizontal">
            <dt>
                Nome
            </dt>

            <dd>
                @Model.NomeUsuario
            </dd>

            <dt>
                CPF
            </dt>

            <dd>
                @Model.Cpf
            </dd>

            <dt>
                Saldo do usuário
            </dt>

            <dd>
                @Model.SaldoUsuario
            </dd>
        </dl>

        <a class="waves-effect waves-light btn" onclick="AjaxJs.listaUsuario()"><i class="material-icons left">arrow_back</i>Voltar</a>
    </div>
</div>