@model  CandyShop.Application.ViewModels.Usuario 

@{
    Layout = null;
}

<link rel="stylesheet" href="../../Content/formCadastroUsuario.css" />

<script type="text/javascript" src="../../Js/Usuario/scriptsCadastroUsuario.js"></script>

<div class="container">
    <div class="row">
        <form class="col s12" style="margin-left: -10%">
            <div class="row">
                <div class="center">
                    <h1 class="center">Editar <font color="brown">usuário</font></h1>
                    <img id="imagem" class="center" src="../../Imagens/user.png" />
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input id="fotoUsuario" type="file" accept="image/x-png,image/gif,image/jpeg">
                    </div>
                    <div class="file-path-wrapper">
                        <input placeholder="foto do usuário" class="file-path validate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="Cpf" name="cpf" type="text" class="validate" value="@Model.Cpf" required data-length="50" autocomplete="off">
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="Nome" name="Nome" type="text" class="validate" value="@Model.NomeUsuario"/>
                </div>
                <div class="input-field col s6">
                    <input id="saldo" name="SaldoUsuario" type="text" class="validate" value="@Model.SaldoUsuario" required="">
                    
                </div>
            </div>
            <div class="row center">
                <a class="btn waves waves-effect waves-light" onclick="AjaxJs.concluirEdicaoUsuario()">Enviar</a>
            </div>
        </form>
    </div>
</div>