@model IEnumerable<CandyShop.Core.Usuario.Dto.UsuarioDto>

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            CPF
        </th>
        <th>
            Nome
        </th>
        <th>
            Saldo
        </th>
        <th></th>
    </tr>

    @for (var i = 0; i < 5; i++)
    {
        <tr>
            <td>
                111.111.111-11
            </td>
            <td>
                Nome do usuário
            </td>
            <td>
                R$ 0, 00
            </td>
            <td>
                <a class="btn-floating btn-sm waves-effect waves-light blue darken-1" onclick="AjaxJs.detalheProduto();"><i class="material-icons">info_outline</i></a>
            </td>
            <td>
                <a class="btn-floating btn-sm waves-effect waves-light orange" onclick="AjaxJs.editarProduto();"><i class="material-icons">edit</i></a>
            </td>
            <td>
                <a class="btn-floating btn-sm waves-effect waves-light red" onclick="AjaxJs.excluirProduto();"><i class="material-icons">remove_shopping_cart</i></a>
            </td>
        </tr>
    }

</table>

