.side-nav .divider {
	margin: 0 0 0 0;
}

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

#DivGrid {
	margin-left: 450px;
}

.side-nav li > a {
	padding: 0 19px;
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
	padding: 0 26.5px 0 58px;
}