html {
	color: #CD2626;
	font-family: Arial;
}

header, main, footer , #DivGrid{
	padding-left: 278px;
}

@media only screen and (max-width : 992px) {
	header, main, footer, #DivGrid {
		padding-left: 40px;
	}
}

.side-nav .divider {
	margin: 0 0 0 0;
}

.side-nav li > a {
	padding: 0 19px;
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
	padding: 0 26.5px 0 58px;
}

.divider {
	background-color: white;
}

h3 {
	margin-left: 8.5%;
	font-weight: bold;
}

.side-nav li > a:hover {
	background-color: rgba(0,0,0,0.05)
}

.modal .modal-footer {
	text-align: center;
}

.modal {
	overflow-x: hidden;
}

#nomeUsuario {
	text-align: center;
}

.btn:hover {
	color: white;
}

th {
	color: brown;
}

.vinho {
	background-color: #CD2626;
}

input {
	color: black;
}