html {
	color: #CD2626;
	font-family: Arial;
}

header, main, footer, #DivGrid {
	padding-left: 380px;
}

@media only screen and (max-width : 992px) {
	header, main, footer, #DivGrid {
		padding-left: 0;
	}

	.container {
		width: 60% !important;
	}

	.waves-effect {
		margin-bottom: 10px;
	}

	.row .col.s6 {
		width: 100%;
	}

	.alinhamento {
		margin-left: 42% !important;
	}

	.bordered {
		display: none;
	}

	.gridCelular {
		display: block !important;
	}

	.recuaTabela {
		margin-left: 0 !important;
	}
}

.gridCelular {
	display: none;
}

.side-nav .divider {
	margin: 0 0 0 0;
}

.side-nav li > a {
	padding: 0 19px;
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
	padding: 0 26.5px 0 58px;
}

.divider {
	background-color: white;
}

.recuaTabela {
	margin-left: -10%;
}

h4 {
	margin-left: 8.5%;
	font-weight: bold;
}

.side-nav li > a:hover {
	background-color: rgba(0,0,0,0.05)
}

.modal .modal-footer {
	text-align: center;
}

.modal {
	overflow-x: hidden;
}

#nomeUsuario {
	text-align: center;
}

.btn:hover {
	color: white;
}

th {
	color: brown;
}

.vinho {
	background-color: #CD2626;
}

input {
	color: black;
}
