body {
	background-image: url("~/../../Imagens/fundo4.jpg");
	background-repeat: repeat-x repeat y;
}

h1 {
	font-weight:bold;
	color:rgb(23,233,132);
	font-size:100px;
}

a {
	color: white;
	text-decoration: none;
}

form {
	margin-top:10%;
	padding-top: 40px;
	box-shadow: 0 0 6px #444;
	border-radius: 2px;
}

button {
	margin-bottom: 30px
}

.cinza {
	background-color: rgb(100, 117, 125);
	opacity: 0.9;
}

.white {
	opacity: 1;
}

.input-field {
	opacity: 1;
}

html {
	color: red;
}
