body {
	background-image: url("~/../../Imagens/fundo4.jpg");
	background-repeat: repeat-x repeat y;
}

h1 {
	font-weight:bold;
	color:rgb(23,233,132);
	font-size:60px;
}

a {
	color: white;
	text-decoration: none;
}

form {
	box-shadow: 0 0 6px #444;
	border-radius: 2px;
	margin-top:17.5%;
	opacity:0.94;
}

.btn {
	margin-bottom: 40px;
}

.cinza {
	background-color: rgb(100, 117, 125);
	opacity: 0.9;
}

html {
	color: red;
}

.batata {
	position: absolute;
	left: 20%;
	margin-left: 0%;
	width: 60%;
}

