@model IEnumerable<CandyShop.Core.Compra.Dto.CompraDto>
@{ Layout = null; }

<div id ="tabela">
    <table class="bordered">
        <tr>
            <th>
                Compra:
            </th>
            <th>
                Data da Compra:
            </th>
        </tr>

        @for (var i = 0; i < 7; i++)
        {
            <tr>
                <td>
                    Teste
                </td>
                <td>
                    testando
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</div>
<a href="#!" onclick="AjaxJs.voltarInicio()">Voltar</a>
<style>
    #tabela {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
</style>