@model IEnumerable<CandyShop.Application.ViewModels.Compra>

@{ Layout = null; }

<link rel="stylesheet" type="text/css" href="../../Content/Admin/historico.css"/>

<h4 align="center"><font color="brown">Histórico </font><font color="red">de Compras</font></h4>
<br/>
<div id ="tabela">    
    <table class="bordered">
        <tr >
            <th>
                Compra:
            </th >
            <th>
                Data da Compra:
            </th>
        </tr>

        @for (var i = 0; i < 7; i++)
        {
            <tr class="center">
                <td>
                    Teste
                </td>
                <td>
                    testando
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Detalhes", "Details", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Deletar", "Delete", new {/* id=item.PrimaryKey */})
                </td>
            </tr>
        }

    </table>
</div>
<br/>
<div align="center">
    <a class="waves-effect waves-light btn" onclick="AjaxJs.voltarInicio()"><i class="material-icons left">arrow_back</i>Voltar</a>
</div>

