 .corpo, hr {
	 width: 100%;
	 margin: 0 auto;
	 text-align: left;
 }

 .corpo {
	 margin-left: -14%;
 }

 dd {
	 margin-left: 28%;
	 margin-top: -3.5%;	 
 }

 dl {
	 color: black;
     width: 700px;
 }

 .batata {
	 margin-left: -70%;
 }

 img {
	 max-width: 200px;
	 display: inline-block;
 }
