.corpo, hr {
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

.corpo {
	margin-left: -14%;
}

dd {
	margin-left: 16%;
	margin-top: -2%;
}

dl {
	color: black;
}

h4 {
	margin-left: -1%;
}

img {
	max-width: 200px;
	display: inline-block;
}