h1 {
	font-weight: bold;
}

img {
	max-height: 120px;
}

.container {
	width: 85%;
}

input {
	text-align: center;
}

.alinhamento {
	margin-left: 48%;
}

img {
	cursor: pointer;
}

img:hover {
	opacity: 0.7;
}
