h1 {
	font-weight: bold;
}

img {
	max-width: 150px;
	max-height: 150px;
	display: inline-block;
}

.container {
	width: 85%;
}

input {
	text-align: center;
}

.alinhamento {
	margin-left: 48%;
}

img {
	cursor: pointer;
}

img:hover {
	opacity: 0.7;
}

.ajuste {
	margin-left: -20%;
	margin-top: -7%;
}
