@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/index.css" rel="stylesheet" />

<div class="row">
   <form class="center white batata">
       <h1 class="center"><font color="browm">Candy</font> <font color="red">Shop</font></h1>
        <div class="row center">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="cpf" name="CPF" type="text" class="validate red-text">
                <label for="cpf">Login</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input id="senha" type="password" class="validate red-text">
                <label for="senha">Senha</label>
            </div>
        </div>
        <button class="waves-effect waves-light btn"><i class="material-icons left">send</i>@Html.ActionLink("Logar","Main")</button>
    </form>
</div>


<script>
    $(document).ready(function () {
        $('#cpf').on('keydown',function() {
            mcpf($('#cpf').val());
        });

        $('#cpf').on('blur',function() {
            if ($('#cpf').val().length > 14) {
                $('#cpf').substr($('#cpf').length - 1, 1);
            }
        });

        var margem = $(window).height() - $('form').height();
        margem = margem / 2;
        $('form').css('margin-top', margem);
        $('form').css('margin-bottom', margem);
    });

    $(window).resize(function () {
        var margem = $(window).height() - $('form').height();
        margem = margem / 2;
        $('form').css('margin-top', margem);
        $('form').css('margin-bottom', margem);
    });

    function mcpf(v){  
        v=v.replace(/\D/g,"")                   
        v=v.replace(/(\d{3})(\d)/,"$1.$2")      
        v=v.replace(/(\d{3})(\d)/,"$1.$2")      
        v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2")
        $('#cpf').val(v);
    }
</script>