@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url("~/../../Imagens/fundo4.jpg");
        background-repeat: repeat-y repeax-x;
    }

    h1 {
        font-weight:bold;
        color:rgb(23,233,132);
        font-size:100px;
    }

    form {
        margin-top:10%;
        padding-top: 40px;
        box-shadow: 0 0 6px #444;
        border-radius: 2px;
    }

    button {
        margin-bottom: 30px
    }

    .cinza {
        background-color: rgb(100, 117, 125);
        opacity: 0.9;
    }

    .white {
        opacity: 1;
    }

    .input-field {
        opacity: 1;
    }

    html {
        color: red;
    }
</style>

<div class="row container">
   <form class="center white col s10 push-l1">
       <h1 class="center"><font color="browm">Candy</font> <font color="red">Shop</font></h1>
        <div class="row center">
            <div class="input-field col s6 push-l3 center">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="Digite aqui seu login(CPF)" id="cpf" name="CPF" type="text" class="validate red-text">
                <label for="cpf">Login</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 push-l3">
                <i class="material-icons prefix">vpn_key</i>
                <input placeholder="Digite a senha" id="senha" type="text" class="validate red-text">
                <label for="senha">Senha</label>
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">send</i>Logar</button>
    </form>
</div>


<script>
    $(document).ready(function () {
        $('#cpf').on('keydown',function() {
            mcpf($('#cpf').val());
        });

        $('#cpf').on('blur',function() {
            if ($('#cpf').val().length > 14) {
                $('#cpf').substr($('#cpf').length - 1, 1);
            }
        });
    });

    function mcpf(v){  
        v=v.replace(/\D/g,"")                   
        v=v.replace(/(\d{3})(\d)/,"$1.$2")      
        v=v.replace(/(\d{3})(\d)/,"$1.$2")      
        v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2")
        $('#cpf').val(v);
    }
</script>