
@{
    ViewBag.Title = "Main";
}

<link href="~/Content/Main.css" rel="stylesheet" />

<!--menu lateral-->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="../../Imagens/fundo4.jpg" style="opacity: 0.5">
            </div>
            <a href="#!user"><img class="circle" src="../../Imagens/user.png"></a>
            <a href="#!name"><span class="brown-text name">Nome do usuario</span></a>
            <a href="#!name"><span class="red-text name">Saldo R$0,00</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">attach_money</i>Pagamento</a></li>
    <li><a href="#!"><i class="material-icons">find_in_page</i>Historico</a></li>
    <li><a href="#!"><i class="material-icons">shopping_cart</i>Carrinho atual</a></li>
</ul>

<!--modal de confirmação-->
<div id="modal1" class="modal">
    <div class="modal-content center">
        <h3>Quantidade</h3>
        <form class="center">
            <input type="text" id="quantidade" class="center" autocomplete="off"/>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#modal2" id="confirmacao" class="modal-trigger modal-close waves-effect waves-green btn-flat">Confirma</a>
    </div>
</div>

<div id="modal2" class="modal">
    <div class="modal-content center">
        <h3>Confirmar venda?</h3>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmar</a>
    </div>
</div>


<div class="brown">
    
    <!--trigger do menu-->
    <form>
        <div class="row">
            <div class="col s1" style="margin-top: 25px;margin-right: -50px">
                <a href="#!" data-activates="slide-out" class="button-collapse" style="margin-top: 20px"><i class="material-icons small">menu</i></a>
            </div>

            <div class="input-field col s3" style="margin-top: 20px">
                <i class="material-icons prefix">search</i>
                <input id="busca" type="text" placeholder="Pesquisa" class="white red-text" style="width: 100%"/>
                <label for="busca" class="red-text">Filtre sua busca:</label>
            </div>

            <div class="input-field col s3" style="margin-left: 40px; width:500px">
                <select>
                    <option value="" disabled selected>Escolha uma opção</option>
                    <option value="Chocolates">Chocolates</option>
                    <option value="Itens Salgados">Itens Salgados</option>
                    <option value="Bebidas">Bebidas</option>
                </select>
                <label class="red-text">Classificação</label>
            </div>
        </div>
    </form>
</div>

<!--exemplo do grid de produtos-->
<div class="row">
    <div class="col s2 m2">
        <div class="card">
            <div class="card-image">
                <img src="../../Imagens/moranguete.jpg">
                <span class="card-title flow-text">Moranguete</span>
                <a href="#modal1" id="abreModal" class="modal-trigger btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nome do produto R$ 0,80"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>R$ 0,80</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.tooltipped').tooltip({ delay: 50 });
        $(".button-collapse").sideNav();
        $('select').material_select();
        $('.caret').hide();
        $('.modal').modal();
    });

    $('#quantidade').on('keydown',function() {
        mNumbers($('#quantidade').val());
    });

    var verifyInt = /^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/;

    $('#abreModal').on('click', function () {
        mNumbers($('#quantidade').val(''));   
    });

    $('#quantidade').on('blur', function () {
        mNumbers($('#quantidade').val());
        if ($('#quantidade').val().match(verifyInt)) {
           $('#confirmacao').removeClass('modal-close modal-trigger');
        } else if ($('#quantidade').val() == 0) {
            $('#confirmacao').removeClass('modal-close modal-trigger');
        } else {
            $('#confirmacao').addClass('modal-close modal-trigger');
        }
    });

    $('#confirmacao').on('click', function () {
        if ($('#quantidade').val().match(verifyInt)) {
            $('#confirmacao').removeClass('modal-close modal-trigger');
        } else if ($('#quantidade').val() == 0) {
            $('#confirmacao').removeClass('modal-close modal-trigger');
        } else {
            $('#confirmacao').addClass('modal-close modal-trigger');
        }
    });

    function mNumbers(v) {
        v = v.replace(/\D/g, "");
        $('#quantidade').val(v);
    }
</script>