@{ Layout = null; }

<script type="text/javascript" src="../../Js/scriptsMain.js"></script>
<script type="text/javascript" src="../../Js/scriptsPadrao.js"></script>

<!--exemplo do grid de produtos-->
<!--6 produtos por linha!!!!-->
<!--depois disso deverá ser criada uma nova-->
<div class="row">
    <div class="col s12 m4 l2">
        <div class="card">
            <div class="card-image">
                <img src="../../Imagens/moranguete.jpg">
                <span class="card-title flow-text">Moranguete</span>
                <a href="#modal1" id="abreModal" class="modal-trigger btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50"  data-tooltip="Nome do produto R$ 0,80" data-Preco="0.8" data-Nome="Moranguete" data-Imagem="moranguete.jpg"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>R$ 0,80</p>
            </div>
        </div>
    </div>
</div>


