.corpo, hr {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	text-align: left;
}

.corpo {
	margin-left: -14%;
}

dd {
	margin-left: 33%;
	margin-top: -5%;
}

dt {
	color: black;
}

h4 {
	margin-left: -1%;
}

img {
	max-height: 180px;
	max-width: 180px;
}