@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="../../Js/scriptsAdmin.js?d=@DateTime.Now.Ticks"></script>
<script type="text/javascript" src="../../Js/Ajax.js?d=@DateTime.Now.Ticks"></script>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
        AjaxJs.init({
            main: '@Url.Action("Index", "Usuario")',
            listaProduto: '@Url.Action("Index", "Produto")',
            listaUsuario: '@Url.Action("Index", "Usuario")'
        });
    })


</script>
<link rel="stylesheet" type="text/css" href="../../Content/indexAdmin.css">

<ul id="slide-out" class="side-nav fixed show-on-large">
    <li><a class="dropdown-button" href="#!"><i class="material-icons left">account_box</i>Administrador</a></li>
    <li><div class="divider"></div></li>
    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
        <li>
            <div class="collapsible-header brown-text">
                <i class="material-icons left">face</i>Usuários
            </div>
            <div class="collapsible-body">
                <ul class="brown-text">
                    <li><a class="dropdown-button" href="#!" onclick="AjaxJs.listaUsuario()"><i class="material-icons">list</i>Lista usuários</a></li>
                    <li><a><i class="material-icons">attach_money</i>Usuários em dívida</a></li>
                    <li><a><i class="material-icons">find_in_page</i>Encontrar usuário</a></li>
                    <li><a><i class="material-icons">account_circle</i>Inserir Usuário</a></li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
        <li>
            <div class="collapsible-header brown-text">
                <i class="material-icons left">shopping_cart</i>Produtos
            </div>
            <div class="collapsible-body">
                <ul class="brown-text">
                    <li><a class="dropdown-button" href="#!" onclick="AjaxJs.listaProduto()"><i class="material-icons">list</i>Lista produtos</a></li>
                    <li><a href="#!"><i class="material-icons">find_in_page</i>Encontrar produto</a></li>
                    <li><a href="#!"><i class="material-icons">add_shopping_cart</i>Inserir produtos</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <li><a class="dropdown-button" href="#!"><i class="material-icons left">attach_money</i>Crédito atual da loja</a></li>
    <li><div class="divider"></div></li>
    <li><a class="dropdown-button" href="#!"><i class="material-icons left">explore</i>Voltar ao início</a></li>
</ul>

<div id="DivGrid"></div>