@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Content/Principal/shop.css"/>

<h1 class="center pink-text">
    <div id="valorAtual">@ViewBag.SaldoAtual</div>
</h1>

<script>
    $("#valorAtual").text($("#valorAtual").text().replace(",", ".").replace(".", ","))
</script>