 #tabela {
	 width: 100%;
	 max-width: 800px;
	 margin: 0 auto;
	 text-align: center;
 }

 #tabela td {
     padding: 2px !important;
 }

 #filtro {
	 text-align: center;     
 }

 #icone {
	 display: inline-block;
	 color: brown;
 }

 .btn-large {
	 background-color: #e781a3 !important;
 }