 #tabela {
	 width: 100%;
	 max-width: 800px;
	 margin: 0 auto;
	 text-align: center;
 }

 #filtro {
	 text-align: center;     
 }

 #icone {
	 display: inline-block;
	 color: brown;
 }


 tr {
	 color: black;
 }