html {
	color: black;
	font-family: Arial;
}

header, main, footer, #DivGrid {
	padding-left: 430px;
	padding-right: 70px;
}

.btn-large {
	background-color: #CD2626;
}

.btn-floating {
	background-color: #cd2626;
}

@media only screen and (max-width : 992px) {
	header, main, footer, #DivGrid {
		padding-left: 0;
		padding-right: 0;
	}

	.container {
		width: 90% !important;
	}

	.waves-effect {
		margin-bottom: 10px;
	}

	.row .col.s6 {
		width: 100%;
	}

	.alinhamento {
		margin-left: 42% !important;
	}

	.bordered {
		display: none;
	}

	.gridCelular {
		display: block !important;
	}

	.recuaTabela {
		margin-left: 0 !important;
	}

	.modal {
		width: 70%;
		margin-left: 2.3%;
	}

	.corpo{
		margin-left: 2% !important;	
	}
}

.gridCelular {
	display: none;
}

.side-nav .divider {
	margin: 0 0 0 0;
}

.side-nav li > a {
	padding: 0 19px;
	color: black;
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
	padding: 0 26.5px 0 58px;
}

.divider {
	background-color: white;
}

.recuaTabela {
	margin-left: -10%;
}

h4 {
	margin-left: 8.5%;
	font-weight: bold;
}

.side-nav li > a:hover {
	background-color: rgba(0,0,0,0.05)
}

.modal .modal-footer {
	text-align: center;
}

.modal {
	overflow-x: hidden;
}

#nomeUsuario {
	text-align: center;
}

.btn:hover {
	color: white;
}

th {
	color: brown;
}

.vinho {
	background-color: #CD2626;
}

input {
	color: black;
}

.brown {
	background-color: #3E2723 !important;
}

.orange {
	background-color: #424242 !important;
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
	color: black;
}


