@model CandyShop.Application.ViewModels.Produto

@{
    Layout = null;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<style>
    input {
        text-align: center
    }    
</style>

<div class="container">
    <div class="row" style="margin-left: -20%">
        <form class="col s12">
            <div class="row">
                <div class="center">
                    <h1 class="center">Cadastrar <font color="brown">Produto</font></h1>
                    <img class="center responsive-img" src="../../Imagens/bala.jpg" />
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input placeholder="foto do produto" class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="NomeProduto" name="Nome" type="text" class="validate" required="">
                    <label for="NomeProduto">Nome:</label>
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="PrecoProduto" name="PrecoProduto" type="text" class="validate" required="">
                    <label for="PrecoProduto">Valor:</label>
                </div>
                <div class="input-field col s6">
                    <input id="QtdeProduto" name="QtdeProduto" type="text" class="validate" required="">
                    <label for="QtdeProduto">Quantidade disponível:</label>
                </div>                
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="Categoria" name="Categoria" type="text" class="validate" required="">
                    <label for="Categoria">Categoria:</label>
                </div>
            </div>

            
            <div class="row", align="center">
                <a class="waves-effect waves-light btn-large" onclick="AjaxJs.listaProduto()"><i class="material-icons left">arrow_back</i>Voltar</a>                
                <a class="waves-effect waves-light btn-large" onclick="AjaxJs.concluirCadastroProduto()"><i class="material-icons left">add_circle</i>Cadastrar</a>
            </div>
            
        </form>
    </div>
</div>


