@model CandyShop.Application.ViewModels.ProdutoViewModel

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="../../Content/Produto/formCadastroProduto.css?d=@DateTime.Now.Ticks" />

<script type="text/javascript" src="../../Js/Produto/scriptsCadastroProduto.js?d=@DateTime.Now.Ticks"></script>
<!--plugin para campos monetários-->
<script type="text/javascript" src="../../Js/plugins/jquery.maskMoney.js"></script>


<div class="container">
    <div class="row" style="margin-left: -20%">
        <form class="col s12">
            <h2 class="center pink-text" style="font-weight: bold;margin-top:-2%">Cadastrar Produto</h2>
            <!--fotos-->
            <div class="row">
                <div class="center">
                    <label for="fotoProduto1" style="margin-right:50px">
                        <img id="imagem1" class="center tooltipped" data-position="bottom" data-delay="50" data-tooltip="Foto do produto" src="../../Imagens/fotoProduto.png" alt="imagem não disponível :(" />
                    </label>
                    <input id="fotoProduto1" type="file" placeholder="foto do produto" class="file-path validate" style="display: none" accept="image/*">

                    <label for="fotoProduto2" style="margin-right:50px">
                        <img id="imagem2" class="center tooltipped" data-position="bottom" data-delay="50" data-tooltip="Foto do produto" src="../../Imagens/fotoProduto.png" alt="imagem não disponível :(" />
                    </label>
                    <input id="fotoProduto2" type="file" placeholder="foto do produto" class="file-path validate" style="display: none" accept="image/*">

                    <label for="fotoProduto3">
                        <img id="imagem3" class="center tooltipped" data-position="bottom" data-delay="50" data-tooltip="Foto do produto" src="../../Imagens/fotoProduto.png" alt="imagem não disponível :(" />
                    </label>
                    <input id="fotoProduto3" type="file" placeholder="foto do produto" class="file-path validate" style="display: none" accept="image/*">
                </div>
            </div>
            <!--botões de remover-->
            <div class="row center">
                <a class="btn" id="removerImagem1" style="margin-right:50px"><i class="material-icons left">block</i>Remover</a>
                <a class="btn" id="removerImagem2"><i class="material-icons left">block</i>Remover</a>
                <a class="btn" id="removerImagem3"><i class="material-icons left">block</i>Remover</a>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="NomeProduto" name="Nome" type="text" class="validate" required data-length="40" autocomplete="off">
                    <label for="NomeProduto">Nome:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="PrecoProduto" name="PrecoProduto" type="text" class="validate" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" required>
                    <label for="PrecoProduto">Valor:</label>
                </div>
                <div class="input-field col s6">
                    <input id="QtdeProduto" name="QtdeProduto" type="number" class="validate" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" required>
                    <label for="QtdeProduto">Quantidade disponível:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="Categoria" id="Categoria">
                        <option value="" disabled>Escolha uma opção</option>
                        <option value="Doces" selected>Doces</option>
                        <option value="Balas">Balas</option>
                        <option value="Bebidas">Bebidas</option>
                        <option value="Amendoins">Amendoins</option>
                        <option value="Chocolates">Chocolates</option>
                        <option value="Salgadinhos">Salgadinhos</option>
                    </select>
                    <label>Categoria</label>
                </div>
            </div>
            <div class="row" , align="center">
                <a class="waves-effect waves-light btn-large botaoVoltar"><i class="material-icons left">arrow_back</i>Voltar</a>
                <a class="waves-effect waves-light btn-large botaoCadastro"><i class="material-icons left">add_circle</i>Cadastrar</a>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#PrecoProduto').maskMoney({
            prefix: 'R$ ',
            allowNegative: true,
            thousands: '.',
            decimal: ',',
            affixesStay: false
        });
    });
</script>





