@model CandyShop.Application.ViewModels.Produto

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="../../Content/Usuario/formCadastroUsuario.css" />

<div class="container">
    <div class="row" style="margin-left: -20%">
        <form class="col s12">
            <div class="row">
                <div class="center">
                    <label for="fotoUsuario">
                        <img id="imagem" class="center tooltipped" data-position="bottom" data-delay="50" data-tooltip="Foto do usuário" src="../../Imagens/fotoProduto.png" alt="imagem não disponível :(" />
                    </label>
                    <input id="fotoUsuario" type="file" placeholder="foto do usuário" class="file-path validate" style="display: none" accept="image/*">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="NomeProduto" name="Nome" type="text" class="validate" required="">
                    <label for="NomeProduto">Nome:</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="PrecoProduto" name="PrecoProduto" type="text" class="validate" required="">
                    <label for="PrecoProduto">Valor:</label>
                </div>
                <div class="input-field col s6">
                    <input id="QtdeProduto" name="QtdeProduto" type="text" class="validate" required="">
                    <label for="QtdeProduto">Quantidade disponível:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="Categoria" id="Categoria">
                        <option value="" disabled>Escolha uma opção</option>
                        <option value="Doces" selected>Doces</option>
                        <option value="Balas">Balas</option>
                        <option value="Bebidas">Bebidas</option>
                        <option value="Amendoins">Amendoins</option>
                        <option value="Chocolates">Chocolates</option>
                        <option value="Salgadinhos">Salgadinhos</option>
                    </select>
                    <label>Categoria</label>
                </div>
            </div>

            <div class="row" , align="center">
                <a class="waves-effect waves-light btn-large" onclick="AjaxJs.listaProduto()"><i class="material-icons left">arrow_back</i>Voltar</a>
                <a class="waves-effect waves-light btn-large" onclick="AjaxJs.concluirCadastroProduto()"><i class="material-icons left">add_circle</i>Cadastrar</a>
            </div>

        </form>
    </div>
</div>




