@model CandyShop.Application.ViewModels.ProdutoViewModel

@{
    Layout = null;
}

<div class="container">
    <div class="row" style="margin-left: -20%">
        <form class="col s12">
            <div class="row">
                <div class="center">
                    <h1 class="center">Editar <font color="brown">Produto</font></h1>
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>                    
                    <div class="file-path-wrapper">
                        <input placeholder="foto do produto" class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="row">                
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="NomeProduto" name="Nome" type="text" class="validate" required="" value="@Model.NomeProduto">
                    <label class="active">Nome:</label>
                </div>
                
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="IdProduto" name="IdProduto" type="text" class="validate" required="" value="@Model.IdProduto" disabled="disabled">
                    <label class="active">ID do Produto:</label>
                </div>                
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="PrecoProduto" type="text" class="validate" value="@Model.PrecoProduto">
                    <label class="active" for="PrecoProduto">Preco do Produto:</label>
                </div>
                <div class="input-field col s6">
                    <input id="QtdeProduto" name="QtdeProduto" type="text" class="validate" required="" value="@Model.QtdeProduto">
                    <label class="active">Quantidade em estoque:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select id="Categoria">
                        <option value="" disabled >Escolha uma opção</option>
                        <option value="Doces" selected>Doces</option>
                        <option value="Balas">Balas</option>
                        <option value="Bebidas">Bebidas</option>
                        <option value="Amendoins">Amendoins</option>
                        <option value="Chocolates">Chocolates</option>
                        <option value="Salgadinhos">Salgadinhos</option>
                    </select>
                    <label>Categoria do produto</label>
                </div>
                <div class="input-field col s6">
                    <select id="Ativo">
                        <option value="" disabled>Escolha uma opção</option>
                        <option value="A" selected>Ativo</option>
                        <option value="I">Inativo</option>
                    </select>
                    <label>Status do produto</label>
                </div>
            </div>
            <div class="row" , align="center">
                <a class="waves-effect waves-light btn-large" onclick="AjaxJsProduto.listaProduto()"><i class="material-icons left">arrow_back</i>Voltar</a>
                <a class="waves-effect waves-light btn-large" onclick="AjaxJsProduto.concluirEdicaoProduto()"><i class="material-icons left">edit</i>Editar</a>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

