@model IEnumerable<CandyShop.Core.Services.Produto.Dto.ProdutoDto>

@{
    Layout = null;
}
<div>
    <form class="col s12" style="margin-left: -10%">
        <table class="table highlight">
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Preço
                </th>
                <th>
                    Qtde em estoque
                </th>
                <th></th>
            </tr>

            @for (var i = 0; i < 5; i++)
            {
                <tr>
                    <td>
                         Chocolate
                    </td>
                    <td>
                         R$ 2,00
                    </td>
                    <td>
                         7
                    </td>
                    <td>
                        <a class="btn-floating btn-sm waves-effect waves-light blue darken-1" onclick="AjaxJs.detalheProduto();"><i class="material-icons">info_outline</i></a>
                    </td>
                    <td>
                        <a class="btn-floating btn-sm waves-effect waves-light orange" onclick="AjaxJs.editarProduto();"><i class="material-icons">edit</i></a>
                    </td>
                    <td>
                        <a class="btn-floating btn-sm waves-effect waves-light red" onclick="AjaxJs.excluirProduto();"><i class="material-icons">remove_shopping_cart</i></a>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>

<style>
    tr {
        color: black;
    }
</style>