@model IEnumerable<CandyShop.Application.ViewModels.Produto>

@{
    Layout = null;
}
<div>
    <form class="col s12" style="margin-left: -10%">
        <table class="table highlight">
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Preço
                </th>
                <th>
                    Qtde em estoque
                </th>
                <th>Categoria</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                         @Html.DisplayFor(modelItem => item.NomeProduto)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.PrecoProduto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdeProduto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        <a class="btn-floating btn-sm waves-effect waves-light blue darken-1" onclick="AjaxJs.detalheProduto();"><i class="material-icons">info_outline</i></a>
                    </td>
                    <td>
                        <a class="btn-floating btn-sm waves-effect waves-light orange" onclick="AjaxJs.editarProduto();"><i class="material-icons">edit</i></a>
                    </td>
                    <td>
                        <a class="btn-floating btn-sm waves-effect waves-light red" onclick="AjaxJs.excluirProduto();"><i class="material-icons">remove_shopping_cart</i></a>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>

<style>
    tr {
        color: black;
    }
</style>